<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Partial-page</title>
</head>
<body>
    @Html.Partial("WriteAsterisk")
    @for (int i = 0; i < 11; i++)
    {
        @Html.Partial("WriteLineAsterisk")
    }
    @Html.Partial("WriteAsterisk")
</body>
</html>