<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Partial-page</title>
</head>
<body>
    <div>
        @for (int i = 0; i < 13; i++)
        {
            <nobr>*</nobr>
        }
    </div>
</body>
</html>