<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Partial-page</title>
    <style>
        p.dline {
            line-height: 0.01;
        }

        p {
            line-height: 0.01em;
        }
    </style>
</head>
<body>
    <pre>
<h9>*                   *</h9>
    </pre>
</body>
</html>