@using ASP.NETcore_lesson6_2.Models
@model User
<!DOCTYPE html>
<html>
<head>
    <title>okkkkkkk</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    @if (Model.Age <= 14)
    {
        <h2>Error. Your age has to more than 14</h2>
    }
    else
    {
        <h2>very good</h2>
    }

</body>
</html>
