<html>

<body>
    <h3>To go to Page2</h3>
    <a href="~/Page2"> <img src="https://static6.depositphotos.com/1003034/633/i/600/depositphotos_6338441-stock-photo-red-button.jpg" width="300" /> </a>

    <h3>To go to Page1</h3>
    <a href="~/Page1"> <img src="https://static6.depositphotos.com/1003034/633/i/600/depositphotos_6338441-stock-photo-red-button.jpg" width="300" /> </a>
</body>
</html>